.ck-editor__editable_inline {
  min-height: 400px; /* Chiều cao tối thiểu */
  max-height: 600px; /* Chiều cao tối đa (nếu cần) */
}

#preview {
  object-fit: cover;
}

.coverImage {
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.preview-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.preview-container img {
  max-width: 150px;
  max-height: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  object-fit: cover;
}
