.sidebar {
    width: 250px; 
    background-color: #374f68; 
    padding-top: 20px;
    height: 100vh; 
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu .nav-item {
    margin: 10px 0; 
}

.sidebar-menu .nav-item a.sidebar-link {
    display: flex;
    align-items: center;
    padding: 10px 12px; 
    text-decoration: none;
    color: #4792a5; 
    font-size: 18px; 
    font-weight: 500; 
    border-radius: 8px; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar-menu .nav-item a.sidebar-link .icon-holder {
    margin-right: 10px; 
}

.sidebar-menu .nav-item a.sidebar-link:hover {
    background-color: #34495e; 
    color: #fff;
}

.sidebar-menu .nav-item.actived a.sidebar-link {
    background-color: #1abc9c; 
    color: #fff; 
}
